:root {
  --default-border: 3px solid white;
  --default-border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
  background: black;
}
